site_name: Citrix Hypervisor Management API Reference
site_description: Citrix Hypervisor Management API Reference
site_title: Developer Documentation
site_url: https://developer-docs.citrix.com

# Copyright
copyright: '&copy; 1999-2020 Citrix Systems, Inc. All rights reserved. '

# Feedback

issues_uri: https://github.com/citrix/devdocs-issue-collector/issues/new
assignees_uri:
  - katshann
labels_uri:
  - documentation

extra_css:
  - 'assets/stylesheets/extra.css'
  - https://use.fontawesome.com/releases/v5.12.1/css/all.css

# Configuration
theme:
  name: null
  custom_dir: devdocs-theme
  
  # 404 page
  static_templates:
    - 404.html
  
  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true
  
  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
    - tabs: false
  palette:
    primary: teal
    accent: teal
  font: false
  favicon: https://docs.citrix.com/assets/images/favicon.ico
  logo: https://developer-docs.citrix.com/_static/logo.svg
  icon: fontawesome

extra:
  social:
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCiOupk9QF6jdk3EDKTHDykA
    - icon: fontawesome/brands/github-alt
      link: https://github.com/citrix
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/citrixdeveloper
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/citrix/

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true

plugins:
  - search:
      separator: '[\s\-\.]+'

# Page tree
nav:
- Versions:
  - 8.1: https://developer-docs.citrix.com/projects/citrix-hypervisor-management-api/en/8.1/
  - 8.0: https://developer-docs.citrix.com/projects/citrix-hypervisor-management-api/en/8.0/
- Citrix Hypervisor Management API Reference: index.md
- Wire Protocol for Remote API Calls: wire-protocol.md
- VM Lifecycle: vm-lifecycle.md
- API Reference: api-ref-autogen.md
- Error Handling: api-ref-autogen-errors.md
- Questions?: https://discussions.citrix.com/forum/1385-citrix-developer-exchange/
